@media(max-width: 55em) {
    .infobox, .tleft, .tright {
        float: none;
        margin: auto;
        text-align: center;
        clear: both;
        margin-top: 1em;
    }

    .tleft > div, .tright > div {
        display: inline-block;
        text-align: left;
    }

    #content {
        padding: .6em;
        padding-top: 4em;
        width: 80vw;
        margin-left: auto;
        margin-right: auto;
    }

    #mw-navigation {
        margin-left: auto;
        margin-right: auto;
        width: 80vw;
    }

    .thumbimage {
        width: 80vw !important;
    }

    .thumbinner {
        width: unset !important;
    }
}

